services:
  ia-api:
    container_name: ia-api
    build:
      context: ../../ia-api/docker
      dockerfile: dev.Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
    volumes:
      - ../../ia-api/app:/usr/src/app
    networks:
      - ia-manager

  ia-api-migrations:
    container_name: ia-api-migrations
    build:
      context: ../../ia-api/docker
      dockerfile: migrations.Dockerfile
    volumes:
      - ../../ia-api/app:/usr/src/app
    depends_on:
      - ia-api
    networks:
      - ia-manager
