services:
  ia-api:
    container_name: ia-api
    build:
      context: ../../ia-api/docker
      dockerfile: dev.Dockerfile
    restart: always
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
    volumes:
      - ../../ia-api/app:/usr/src/app
    networks:
      - ia-manager