services:
  ia-api:
    build:
      context: ../app
      dockerfile: ../docker/dev.Dockerfile
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
    volumes:
      - ../app:/usr/src/app
    depends_on:
      - redis
    networks:
      - ia-manager

  # only for caching API responses. maybe sessions?
  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - ia-manager


volumes:
  redis_data:

networks:
  ia-manager:
    external: true