NODE_ENV=development
JWT_SECRET=super_jwt_secret
TOKEN_ENCRYPTION_SECRET=12345678901234567890123456789012
TOKEN_ENCRYPTION_ENABLED=true
TOKEN_ALGORITHM=aes-256-gcm
TOKEN_EXPIRATION=1m
BASE_API_URL=http://ia-apps-checkout:80
VITE_API_URL=https://checkout.informaticaautonomos.com
REDIS_HOST=ia-redis-checkout
REDIS_PORT=6379
REDIS_PASSWORD=test
DB_HOST=ia-mysql-checkout
DB_USERNAME=iaapi
DB_PASSWORD=iaapi
DB_DATABASE=iaapi
REDIS_MESSAGE_EXPIRATION_MS=60000
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=50
