# .env
#NODE_ENV=development
NODE_ENV=production
JWT_SECRET=super_jwt_secret
#32 chars at least
TOKEN_ENCRYPTION_SECRET=12345678901234567890123456789012
TOKEN_ENCRYPTION_ENABLED=true
TOKEN_ALGORITHM=aes-256-gcm
TOKEN_EXPIRATION=1m
BASE_API_URL=http://ia-apps-checkout:80
PAYMENT_ENCRYPTION_KEY=12345678901234567890123456789012
PAYPAL_PARTNER_CLIENT_ID=AdADKnPKeXPyKsbdjJm2YGneCctm6o1MDxBNpRbkdVMbAgWU2LlJp3JGa7Yfv3v_LGGuVDO8lbeUBSAF
PAYPAL_PARTNER_CLIENT_SECRET=ENk88lobtvevNdPo7aTWXR3EFFDSyA1N2HCVMUeXXM6KAIDXp7vzMcSqgLlNDLXYlnzcei9KJhE3cFB9
VITE_API_URL=https://checkout.informaticaautonomos.com
REDIS_HOST=ia-redis-checkout
REDIS_PORT=6379
DB_HOST=ia-mysql-checkout
DB_USERNAME=iaapi
DB_PASSWORD=iaapi
DB_DATABASE=iaapi
